html, body {
	margin:0px auto;
	font-family: 'Roboto', sans-serif;
	background-color: #222;
	color:#DDD;
}

h1,h2,h3,h4,h5,h6,p,span,a,div {
	margin:0px auto;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #444 inset;
	-webkit-border:1px solid transparent;
	border:none;
	-webkit-text-fill-color: #999 !important;
}

form input {
	margin:10px auto;
	display:block;
	outline:none;
	color:#999;
	background-color: #444;
	border:1px solid #444 !important;
	height:28px;
	width:80%;
	font-size:14px;
	padding:5px 10px;
	transition:0.2s all ease;
}

form input:focus {
	border:1px solid #5abced !important;
}

.c-btn, form button {
	display:inline-block;
	text-decoration: none;
	color:#DDD;
	border:none;
	background-color:#444;
	padding:10px 20px;
	font-size:12pt;
	transition:0.2s all ease;
}

.c-btn:active, form button:active {
	background-color: #5abced;
	boder:none;
	outline:none;
	color:#222;
}

header pre {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 20px;
    margin-left: -183px;
}

footer {
	text-align: center;
	margin-top:20px;
	font-size:8pt;
	color:#666;
}

/* OBJECTS */

.o-box {
	margin:10px auto;
	text-align: center;
}

.o-box-title {
	text-transform:uppercase;
	margin:8px 0px;
}

/* COMPONENTS */

.o-ajax-reply {
	margin:10px;
}

/* UTILITIES */

.u-text-red {
	color:red;
}

.u-margin-top-20 {
	margin-top:20px;
}
